.cont {
  width: 100%;
  margin-bottom: 20px;
  padding: 16px 24px 24px 24px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px 60px;
}

.el {
  display: flex;
  flex-direction: column;

  img{
    width: 20px;
    height: 20px;
  }

  &_mod{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}

.firstInput {
  grid-column-start: 1;
  grid-column-end: 4;
}