.cont {
  width: 100%;
  margin-bottom: 20px;
  padding: 16px 24px 24px 24px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px 60px;
}

.firstInput{
    grid-column-start: 1;
    grid-column-end: 4;
}

.breakInput {
    width: 40%;
    grid-column-start: 3;
    grid-column-end: 5;
}
