.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 20px 24px;
  background: #ffffff;
  border-radius: 8px;
}

.wrapper {
  display: flex;
  margin-top: 28px;
  column-gap: 16px;

  &__cargo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__checkBox {
    padding-top: 23px;
    flex-direction: column;
    row-gap: 79px;

    label {
      margin: 0 !important;
      width: 16px;
      height: 19px;
      overflow: hidden;
    }
  }
}

.hidden {
  overflow: hidden;
  height: 100%;

  &_mod {
    height: 0px;
  }
}
