.roll {
  width: 100%;
  display: flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;
  }

  &_mod {
    rotate: 180deg;
  }
}

.replace {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
