.cont {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 16px;
  z-index: 2;
  background: white;
  position: relative;
  padding-bottom: 28px;
}

.wrapperCont {
  position: relative;
  background: white;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.el {
  display: flex;
  align-items: center;
  column-gap: 16px;
  h5 {
    margin: 0;
  }
}

.ico {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #87e8de;
  border-radius: 100%;
}

.icons {
  display: flex;
  align-items: center;
  column-gap: 12px;

  img {
    cursor: pointer;
  }
}

.checkBox {
  display: inline-flex;

  &_mod {
    .checkBox {
      display: none;
    }
  }
}

.menu {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);

  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;

  height: 100%;
  width: 100%;
  max-width: 128px;
  background: #F0F2F5;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  &__icons {
    display: flex;
    column-gap: 8px;
  }
}

@media screen and (max-width: 660px) {
  .icons {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .ico {
    width: 32px;
    height: 32px;
    padding: 8px;
  }

  .checkBox {
    display: none;
  }

  .checkBox_mod:has(input:checked) {
    .ico {
      display: none !important;
    }

    .checkBox {
      width: 32px;
      height: 32px;
      padding: 8px;
      display: inline-flex !important;
    }
  }

  .text {
    font-size: 12px;
    line-height: 20px;
  }

  .title {
    font-size: 14px;
    line-height: 22px;
  }
}
