.logo {
    width: initial;
    height: initial;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E6F7FF;

    border: 1px;

    &__small {
        width: 22px;
        height: 22px;
    }

    &__default {
        width: 32px;
        height: 32px;
    }

    &__large {
        width: 46px;
        height: 46px;
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;

        color: #1890FF;

        &_small {
            font-size: 6.875px;
            line-height: 8px;
        }

        &_default {
            font-size: 10px;
            line-height: 12px;
        }

        &_large {
            font-size: 14.375px;
            line-height: 17px;
        }
    }
}