.wrapper {
    width: 100%;
    max-width: 680px;

    display: flex;

    margin: 0 auto;
}

.link {
    display: flex;
    width: fit-content;

    padding: 0px 20px;

    &:hover, .link__icon, .link__text{
        color: #1890FF;
    }

    &__active{
        color: #1890FF;
    }
}

.info {
    display: flex;
    align-items: center;
    column-gap: 12px;

    width: fit-content;

    padding: 12px 0px;

    cursor: pointer;

    border-top: 2px solid transparent;

    transition: .3s;

    &__active{
        border-top: 2px solid #1890FF;
    }

    &__icon {
        transition: .3s;

        color: inherit;
    }

    &__text {
        transition: .3s;

        color: inherit;
    }
}