.wrapper {
	width: 100%;

	display: flex;
	justify-content: center;

	position: sticky;
	bottom: 0px;

	z-index: 9;
}

.link {
	display: flex;
	width: fit-content;

	padding: 0px 20px;

	&:hover,
	.link__icon,
	.link__text {
		color: #1890ff;

		g{
			stroke: #1890ff;
		}
	}

	&__active {
		color: #1890ff;

		.link__icon, g{
				stroke: #1890ff;
		}
	}
}

.info {
	display: flex;
	align-items: center;
	column-gap: 12px;

	width: fit-content;

	padding: 12px 0px;

	cursor: pointer;

	border-top: 2px solid transparent;

	transition: 0.2s;

	&__active {
		border-top: 2px solid #1890ff;
	}

	&__icon g{
		transition: 0.2s;
	}

	&__text {
		transition: 0.2s;

		color: inherit;
	}
}


@media screen and (max-width: 680px){
	.wrapper{
		column-gap: 8px;
	}

	.link{
		padding: 0px;
	}

	.info{
		border-top: 0px;

		flex-direction: column;
		row-gap: 5px;

		padding: 8px;

		&__text{
			font-size: 10px;
		}

		&__icon{
			scale: 1.2;
		}
	}
}