.wrapper {
    position: absolute;
    left: -100%;
    top: 50%;

    transform: translateY(-50%);

    transition: .2s;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    z-index: 99;

    &__active{
        left: 0px;
    }
}

.info {
    background-color: #fff;

    width: 100%;
    max-width: 400px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 24px;
    box-shadow: inset 0px -1px 0px #F0F0F0;

    &__close{
        cursor: pointer;
    }

    h5 {
        margin-bottom: 0px;
    }

}

.input {
    padding: 16px 24px;
}